*{
    font-family: 'Inter';
    background-color: #9094d6; 
    color: white; 
}

.title{
    display: flex;
    align-content: center; 
    justify-content: space-around;
    
}

#title-con{
    
    font-weight: bold;
    padding: 20px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-radius: 10px;
}

#top-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    font-size: 24px;
}


#result-container{
  text-align: center;
  margin: 20px; 
}

#sign-score-container {
    margin: 20px; 
}

.button-container {
    margin: 20px; 
    display: flex; 
    justify-content: space-between; 
}

#rockButton, #paperButton, #scissorsButton {
    padding: 10px; 
    width: 150px; 
    height: 150px; 
    margin: 20px;
    background-color:whitesmoke;
    border-radius: 20px;
    border:none;
    font-size: 40px;
}

#endScreen {
    opacity: 0%;
    position: absolute; 
    left: 50%;
    padding: 30px;
    text-align:center; 
    top: 50%;
    background-color:darkslateblue;
    font-size: 40px;
    transform: translate(-50%, -50%);
    padding-left: 80px; 
    padding-right: 80px; 
    border-radius: 20px
}

#endScreen.active {
    opacity: 100%;
}

#restart {
    padding: 20px; 
    font-size: 24px;
    border-radius: 20px; 
    border: none;
}

#game-over {
    background-color: darkslateblue;
    font-weight: bolder;
}

#overlay {
    width: 100%; 
    height: 100%; 
    opacity: 0%; 
    background-color: black;
}

#overlay.active {
    opacity: 40%;
    position: absolute;
    top: 0;
    left: 0;
}

#playerScore2 {
    font-size: 18px;

    background-color: darkslateblue;
}

#compScore2 {
    font-size: 18px;
    margin-bottom: 30px;
    background-color: darkslateblue;

}